<html>
<meta charset="UTF-8" />
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>

	<div class="container">
		<div th:replace="~{base :: titulo('Cadastro de novo leitor')}"></div>

		<div class="card mb-3">
			<form th:action="@{/leitor/novo}" class="card-body" method="post">
				<div class="form-group">
					<label for="username">Usuário</label> <input name="username"
						class="form-control" placeholder="Seu nome" />
				</div>
				<div class="form-group">
					<label for="username">Email</label> <input name="email"
						class="form-control" placeholder="email@alguma.com" />
				</div>
				<div class="form-group">
					<label for="password">Senha</label> <input type="password"
						name="password" class="form-control" placeholder="senha" />
				</div>
				<button class="btn btn-primary" type="submit">Ok</button>
			</form>
		</div>
	</div>
</body>
</html>