<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>

	<div class="container">
		<div th:replace="~{base :: titulo('descricao')}"></div>

	</div>

	<div class="card mb-3">
		<div class="card-header alert-dark" th:text="${leitores}">
			TOTAL DE LEITORES</div>
		<div class="card-body">Leitores já fazem parte da nossa comunidade,
			incentivando a leitura, disseminando conhecimento e compartilhando
			experiências.</div>
	</div>
	
	<div class="card mb-3">
		<div class="card-header alert-dark" th:text="${movimentos}">
			TOTAL DE MOVIMENTOS</div>
		<div class="card-body">Livros que já foram compartilhados dentro da nossa comunidade.</div>
	</div>
	
	<div class="card mb-3">
		<div class="card-header alert-dark" th:text="${livros}">
			TOTAL DE LIVROS</div>
		<div class="card-body">Livros que podem estar ao seu alcance, <a href="/login">aqui!</a></div>
	</div>

</body>
</html>